body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.account-container {
    background: rgb(200, 165, 194);
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
}

button {
    padding: 10px;
    background: rgb(54, 8, 56);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: rgb(54, 8, 56);
}

a{
    padding: 10px;
    background: rgb(54, 8, 56);
    color: white;
    border: none;
    cursor: pointer;
}
a:hover{
    background: rgb(75, 11, 77);
}