body {
    font-family: Arial, sans-serif;
    background-color:rgb(216, 193, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(200, 165, 194);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(109, 76, 110);
    color: white;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.toggle-link {
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
